photo-size-list = 64px

.users-list
	margin: 0
	padding: 0

.user
	display: block
	float: left
	overflow: hidden
	width: 50%

	&__content
		background-color: #fff
		border: 1px solid lightblue
		border-radius: 4px
		box-shadow: 0 0 0 rgba(0, 0, 0, .25)
		cursor: pointer
		font-size: 24px
		margin: 10px
		min-height: photo-size-list
		padding: 5px
		transform: scale(1, 1)
		transition: box-shadow .5s, transform .5s

		&:hover
			box-shadow: 0 3px 6px rgba(0, 0, 0, .1)
			transform: scale(1.05, 1.05)

	&_updated &__content
		animation: bg 1s 1 ease-in

	&__photo
		border-radius: 4px
		float: left
		margin-right: 10px
		height: photo-size-list
		width: photo-size-list

@media (max-width: 500px) {
	.user {
		width: 100%
	}
}

.paging
	clear: both
	padding-top: (photo-size-list / 2)
	text-align center
	width: 100%

@keyframes bg {
	100% {
		background-color: #fff
	}
	0% {
		background-color: lightblue
	}
}